<p id="notice"><%= notice %></p>

<p>
  <strong>Catid:</strong>
  <%= @category.catId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @category.label %>
</p>

<p>
  <strong>Isleaf:</strong>
  <%= @category.isLeaf %>
</p>

<p>
  <strong>Firstlevelcatid:</strong>
  <%= @category.firstLevelCatId %>
</p>

<p>
  <strong>Variationcat:</strong>
  <%= @category.variationCat %>
</p>

<p>
  <strong>Active:</strong>
  <%= @category.active %>
</p>

<% if @category.category_id.present? %>
  <p>
    <strong>Category:</strong>
    <%= @category.category_id %>
  </p>
<% end %>

<% if !@category.isLeaf %>
<p>
  <strong>Sub-category:</strong><br>
  <% @categories.sort_by(&:catId).each do |category| %>
    <% if category.category_id == @category.id %>
      <%= category.label %><%= link_to 'Show', category %><br>
    <% end %>
  <% end%>
</p>
<% end %>

<%= link_to 'Back', categories_path %>
